body {
    color: white;
    background-color: #7c1041;
    background-image: url("/static/bg.svg");
    background-attachment: fixed;
    background-size: cover;
}

a,
a:focus,
a:hover {
    color: #fff;
}

.header.register{
    margin-bottom: 6rem !important;
}