{% extends 'base/auth_base.html' %}
{% load static %}
{% block meta %}
    <title> Testarea Automata - Login </title>
    <meta name="description" content="login page to view automated testing articles.">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'auth.css' %}"/>
{% endblock %}

{% block page_desc %}
    <div class="pb-5"></div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center" style="min-height: 33rem">
        <div id="contact_input" class="col-12 px-4">
            <form autocomplete="off"id="contact-form" class="row justify-content-center" method="POST" action="/login/"> {% csrf_token %}
                <div class="col-12 px-4 mb-2 text-center">
                    <img class="mx-auto" src="{% static 'header.png' %}" style="width: 250px;" alt="header">
                </div>
                <div class="form-group col-12 col-sm-9 col-lg-8 text-center mt-3 action-header">Testarea Automata - Login</div>
                <div class="form-group col-12 col-sm-9 col-lg-8">
                    <input type="email" name="email" class="form-control"
                           id="inputEmail" placeholder="Registered Email"
                           oninvalid="this.setCustomValidity('Email is required.')"
                           oninput="this.setCustomValidity('')"
                           required/>
                </div>
                <div class="form-group col-12 col-sm-9 col-lg-8">
                    <input type="Password" name="password" class="form-control" id="password"
                           placeholder="Password"
                           oninvalid="this.setCustomValidity('Password is required.')"
                           oninput="this.setCustomValidity('')"
                           required/>
                </div>
                <div class="form-group box-shadow-light mt-4 col-12 col-sm-9 col-lg-8 text-center">
                    <small class="form-text help text-white mb-2"><a href="/register/"
                                                                     class="action-link">Register</a>, if you do not have an account.</small>
                    <button class="btn btn-custom btn-sm w-25 submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}