<div id="article" class="p-5">
    <h1 class="article-title mb-5"> {{ article.title|title }} </h1>
    {% if article and article.article_content and article.article_content.toc %}
        <div class="article-toc text-center w-50 my-4 py-5 border shadow-sm"> {{ article.article_content.toc | safe }} </div>
    {% endif %}
    {% if article.article_content.content %}
        <div class="article_content">{{ article.article_content.content |safe }}</div>
    {% else %}
        <div class="mt-4 ml-4" style="margin-bottom: 10rem"> No table of content for this article.</div>
    {% endif %}
</div>