<div class="row justify-content-center" style="min-height: 33rem">
    <div id="change_password_form" class="col-12 px-4">
        <form autocomplete="off"id="change-pass-form" class="row justify-content-start" method="POST"
              action="{% url 'change_password' %}"> {% csrf_token %}
            <div class="form-group col-12 col-sm-9 col-lg-8">
                <label for="password">Current password</label>
                <input type="Password" name="password" class="form-control" id="password" placeholder="Password"
                       oninvalid="this.setCustomValidity('Password is required.')"
                       oninput="this.setCustomValidity('')"
                       required/>
            </div>
            <div class="form-group col-12 col-sm-9 col-lg-8">
                <label for="password1">New password</label>
                <input type="Password" name="password1" class="form-control" id="password1" placeholder="New Password"
                       oninvalid="this.setCustomValidity('Password is required.')"
                       oninput="this.setCustomValidity('')"
                       required/>
            </div>
            <div class="form-group col-12 col-sm-9 col-lg-8">
                <label for="password2">Re-Enter new password</label>
                <input type="Password" name="password2" class="form-control" id="password2"
                       placeholder="Re-Enter new password"
                       oninvalid="this.setCustomValidity('Password is required.')"
                       oninput="this.setCustomValidity('')"
                       required/>
            </div>
            <div class="form-group box-shadow-light mt-4 col-12 col-sm-9 col-lg-8 text-center">
                <button class="btn btn-custom btn-sm w-50 submit float-right">CHANGE PASSWORD</button>
            </div>
        </form>
    </div>
</div>