<div class="row justify-content-center
{% if '/admin/article/' in request.path or request.path|slice:':9' == '/article/' %} justify-content-sm-between {% else %} justify-content-sm-end {% endif %} m-0 px-5 nav"
    style="padding-top: 3rem;">
        {% if '/admin/article/' in request.path or request.path|slice:":9" == '/article/' %}
        <div class="col-auto p-0 text-center">
            <div class="btn btn-group p-0" role="group" aria-label="Basic example"
                 style=" border: 2px solid white;">
                <button type="button" class="btn btn-light btn-custom"
                        onclick="window.location.href='/'">
                    <svg class="bi bi-house-fill" style="vertical-align: middle;" width="1.3rem" height="1.3rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                    <span> Home </span>
                </button>
            </div>
        </div>
    {% endif %}
    <div class="col-auto p-0 text-center">
        <div class="btn btn-group p-0" role="group" aria-label="Basic example"
             style="border: 2px solid white;">
            {% if user.is_superuser %}
                <button type="button" class="btn btn-light btn-custom"
                        style="border-right: 4px solid white"
                        onclick="window.location.href='/admin/article/'">
                    <svg class="bi bi-book-half" style="vertical-align: middle;" width="1.3rem" height="1.3rem"
                         viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
                        <path fill-rule="evenodd"
                              d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869z"/>
                    </svg>
                    <span> Articles </span>
                </button>
            {% endif %}
            <button type="button" class="btn btn-light btn-custom" onclick="window.location.href='/user/user_info/'">
                <svg class="bi bi-person-fill" style="vertical-align: middle;" width="1.3rem" height="1.3rem"
                     viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <span> {{ request.user.name }} </span></button>
            <button type="button" class="btn btn-light btn-custom" style="border-left:3px solid white"
                    onclick="window.location.href='/logout/'">
                <svg class="bi bi-box-arrow-right-fill" width="1.3rem" height="1.3rem"
                     style="vertical-align: middle;" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                    <path fill-rule="evenodd"
                          d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
                </svg>
            </button>
        </div>
    </div>
</div>