<div class="row justify-content-center" style="min-height: 33rem">
    <div id="info_input" class="col-12 px-4">
        <form id="info-form" class="row justify-content-start" method="POST" action="{% url 'user_info' %}">
            {% csrf_token %}
            <div class="form-group col-12 col-sm-9 col-lg-8">
                <label for="inputEmail">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
                       value="{{ user.email }}"
                       disabled/>
            </div>
            <div class="form-group col-12 col-sm-9 col-lg-8">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Name"
                       value="{{ user.name }}"
                       oninvalid="this.setCustomValidity('User name is required.')"
                       oninput="this.setCustomValidity('')"
                       required/>
            </div>
            <div class="form-group box-shadow-light mt-4 col-12 col-sm-9 col-lg-8 text-center">
                <button class="btn btn-custom btn-sm w-25 submit float-right">UPDATE</button>
            </div>
        </form>
    </div>
</div>